<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Budgtr</title>
</head>
<body>
    
    <div class='container'>
            <h1>Budgtr ALL</h1>
            <nav>
                <a href="/budgets/new"><button>Create New Entry</button></a>
            </nav>
            <h3>Total:

            <% let bankAccount = 0 %>
            <% for(let i = 0; i < allBudgets.length; i++) { %>
                    <% bankAccount += allBudgets[i].amount %>
            <% } %>
            <% if (bankAccount < 0) { %>
                <span style="color:red"><%= bankAccount %></span>
            <% } else if (bankAccount > 1000) { %>
                <span style="color:green"><%= bankAccount %></span>
            <% } %>
            </h3>

        <table>
            
            <% for(let i = 0; i < allBudgets.length; i++) { %>
                <tr>
                    <td>
                        <%=allBudgets[i].date %>
                    </td>
                    <td>
                        <a href="/budgets/<%= i %>">
                            <%=allBudgets[i].name %>
                        </a>
                    </td>
                    <td>
                        <%=allBudgets[i].amount %>
                    </td>
                   
                </tr> 
            
            <% } %>
        </table>
    </div>
</body>
</html>

